{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}

    <nav id="" class="bg-body-tertiary p-3 m-3">
      <h1 class="display-5" href="#">Study on</h1>

            <ul class="navbar-nav d-flex justify-content-end">
                {% if app.user %}
                    <div class="d-flex justify-content-end">
                    <li class="nav-item" style="margin-right: 10px;">
                        <h4 class="m-md-0">
                            Привет,
                            {{ app.user.email }}
                        </h4>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_user_profile') }}" class="btn btn-primary">
                            Профиль
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-primary ms-2">
                            Выход
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="btn btn-primary">
                            Вход
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="enter btn btn-outline-primary ms-2">
                            Регистрация
                        </a>
                    </li>
                    </div>
                {% endif %}
            </ul>
    </nav>

    <h1 class="m-3">Курсы</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 m-3" >
        {% for course in courses %}
            {% set billingTransactions = billingTransactions['course_code'] ?? null %}
            {% set isPaid = billingTransactions is not null %}

            {% if course.type is same as('Full Payment') %}
                {% set paidHelp = isPaid ? 'Куплено' : course.price ~ '₽' %}
            {% elseif course.type is same as('Rental') %}
                {% set paidHelp = isPaid ? 'Арендовано до ' ~ transaction.expires_at : course.price ~ '₽ в неделю'  %}
            {% else %}
                {% set paidHelp = 'Бесплатный' %}
            {% endif %}

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p>{{ course.title }}</p>
                        </h5>
                        <p class="card-text">{{ course.description }}</p>
                        <h6 class="card-subtitle mb-2 text-muted">{{ paidHelp }}</h6>
                        <a href="{{ path('app_course_show', {'id': course.id}) }}" class="blockquote">
                            Пройти
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
    </div>

    {% if is_granted("ROLE_SUPER_ADMIN") %}
        <a class="btn btn-outline-secondary" href="{{ path('app_course_new') }}">Создать</a>
    {% endif %}

{% endblock %}
