{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <nav id="" class="bg-body-tertiary p-3 m-3">
        <h1 class="display-5" href="#">Study on</h1>
    </nav>

    <h1 class="m-3">{{ course.title }}</h1>
    <p class="mt-2 mb-2 m-3">{{ course.description }}</p>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заголовок модального окна</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Вы уверены что хотите подтвердить операцию?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                    <a role="button" methods="POST" href="{{ path('app_course_pay', { 'id' : course.id }) }}" type="button" class="btn btn-primary">Подтвердить</a>
                </div>
            </div>
        </div>
    </div>
    {% if not is_granted('ROLE_USER') %}
        <h3>Войдите, чтобы иметь доступ к покупке курсов</h3>
    {% elseif not isCoursePaid %}
        {% if billingUser.balance > billingCourse['price'] %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                {% if billingCourse['type'] is same as('Payment') %}
                    Купить
                {% elseif billingCourse['type'] is same as('Rental') %}
                    Арендовать
                {% else %}
                    <h3>Недостаточно средств для оплаты</h3>
                {% endif %}
            </button>
        {% endif %}
    {% elseif isCoursePaid %}
        {% if billingCourse['type'] is same as('Payment') %}
            Куплено
        {% elseif billingCourse['type'] is same as('Rental') %}
            Арендовано
        {% else %}
            Бесплатно
        {% endif %}
    {% endif %}

    <h2 class="m-3">Уроки</h2>
    <ol class="">
        {% for key, lesson in lessons %}
            <li class="ml-3">
                {% if (is_granted("ROLE_USER") and isCoursePaid) or is_granted("ROLE_SUPER_ADMIN") %}
                    <a href="{{ path('app_lesson_show', {'id': lesson.id}) }}">{{ lesson.title }}</a>
                {% else %}
                    <p class="mb-0">{{ lesson.title }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ol>

    <hr class="m-3">

    <div class="d-flex flex-row gap-1 mt-3 m-3">
        <a class="btn btn-outline-secondary" href="{{ path('app_course_index') }}">К списку курсов</a>

        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <a class="btn btn-outline-secondary" href="{{ path('app_course_edit', {'id': course.id}) }}">Редактировать</a>
            {{ include('course/_delete_form.html.twig') }}
            <a class="btn btn-outline-secondary" href="{{ path('app_lesson_new', {'course_id': course.id}) }}">Добавить урок</a>
        {% endif %}

    </div>
<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
{% endblock %}


